<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="google" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 讓讓瀏覽器容易找到你的網站 -->
    <meta name="robots" content="index,follow" />
    <base target="_self" href="" />
    <!-- 描述自己的網站 -->
    <meta name="description" content="" />
    <title>成功新增學生</title>
    <style>
      table,
      tr,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>成功更新學生資料!!!!!!!!!!</h1>
    <p>以下是更新學生資料內容。。。</p>
    <table>
      <tr>
        <td>學生ID</td>
        <td><%= newData._id %></td>
      </tr>
      <tr>
        <td>學生姓名</td>
        <td><%= newData.name%></td>
      </tr>
      <tr>
        <td>學生年齡</td>
        <td><%= newData.age %></td>
      </tr>
      <tr>
        <td>學生獎學金</td>
        <td><%= newData.scholarship.merit %></td>
      </tr>
      <tr>
        <td>學生獎學金</td>
        <td><%= newData.scholarship.other%></td>
      </tr>
    </table>
    <a href="/students">回到首頁</a>
  </body>
</html>
